@model CheckoutViewModel

@if (Model != null && Model.CartProducts != null && Model.CartProducts.Count > 0)
{
    var i = 1;
    <section class="flat-row main-shop shop-slidebar">
        <div class="container">
            <div class="row">
                <div class="col-md-4 order-md-2 mb-4">
                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                        <span class="text-muted">Sepetin</span>
                    </h4>
                    <ul class="list-group mb-3">
                        @foreach (var product in Model.CartProducts)
                        {
                            var productQuantity = Model.CartProductsIDs.Where(productID => productID == product.ID).Count();

                            <li class="list-group-item d-flex justify-content-between lh-condensed" data-id="@product.ID">
                                <div>
                                    <h6 class="my-0">@i - @product.Name - Adet: @productQuantity</h6>
                                    <img src="@product.ImageURL" alt="image" style="height : 100px">
                                    <small class="text-muted">@(product.Description.Length > 100 ? product.Description.Substring(0, 99) : product.Description)</small>
                                </div>
                                <span class="text-muted">Birim Fiyat: ₺ @product.Price - Toplam Fiyat: @(productQuantity * product.Price)</span>
                                <button class="deleteBtn" data-id="@product.ID">Sil</button>
                            </li>

                            i++;
                        }

                        <li class="list-group-item d-flex justify-content-between">
                            <span>Toplam (TL)</span>
                            <strong>₺ @Model.CartProducts.Sum(x => x.Price * Model.CartProductsIDs.Where(productID => productID == x.ID).Count())</strong>
                        </li>
                    </ul>
                </div>
                <div class="col-md-8 order-md-1">
                    <h4 class="mb-3">Fatura Adresi</h4>
                    <form class="needs-validation" novalidate="">
                        <div class="row">
                            <div class="col-md-12 mb-3">
                                <label for="firstName">İsim Soyisim</label>
                                <input type="text" class="form-control" id="Name" placeholder="" value="@Model.User.Name" required="">
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="email">E-mail <span class="text-muted">(Optional)</span></label>
                            <input type="email" class="form-control" id="Email" placeholder="you@example.com" value="@Model.User.Email">
                        </div>

                        <div class="mb-3">
                            <label for="address">Adres</label>
                            <input type="text" class="form-control" id="address" placeholder="1234 Main St" required="" value="@Model.User.Address">
                        </div>

                        <div class="input-group">
                            <div class="radio form-control">
                                <label><input name="payment" type="radio" value="Cash" /> Kapıda Ödeme</label>
                            </div>
                            <div class="radio form-control">
                                <label><input name="payment" type="radio" value="Cart" /> Kart ile Ödeme</label>
                            </div>
                        </div>
                        @*<a class="btn btn-danger" onclick="SendEmail()"> Mail ile bilgilendir</a>*@
                        <hr class="mb-4"> 
                        <button id="placeOrderBtn" class="btn btn-primary btn-lg btn-block" type="button" onclick="SendEmail()">Sipariş Ver!</button>
                    </form>
                </div>
            </div>
        </div><!-- /.container -->
    </section>


    <script>
	$("#placeOrderBtn").click(function () {
		$.ajax({
			url: '@Url.Action("PlaceOrder", "Shop")',
			data: {
				productIDs: '@string.Join("-", Model.CartProductsIDs)'
			}
		})
        .done(function (response) {
        	if(response.Success)
        	{
        		$.cookie('CartProducts', '', { path: '/' });
                updateCartProducts();
                

        		swal("Bitti", "Siparişin Verildi.", "success").then((value) => {
        			window.location = '@Url.Action("Index", "Shop")';
        		});;
        	}
        	else{
        		swal("Failed", "Unable to place order.", "warning");
        	}
        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
        	alert("FAIL");
        });
	});

        $(".deleteBtn").click(function () {
        swal({
            title: "Onay?",
            text: "Bu Ürünü Silmeyi İstiyor Musunuz?",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("Delete", "Shop")',
                        data: {
                            ID: $(this).attr('data-id')
                        }
                    })
                        .done(function (response) {
                            $("#tableContiner").html(response);

                            swal("Başarıyla Silindi.", {
                                icon: "success",
                            });
                        })
                        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                            alert("Fail");
                        });
                }
            });
        });


        var SendEmail = function () {

            $.ajax({
                type: "Post",
                url: "/Shop/SendMailToUser",
                success: function (data) {
                    if (data == true) {
                        alert("Success");
                    }
                    else {
                        alert("Fail");
                    }

                }

            })
        };
    </script>
}
else
{
    <div>
        <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Sepetin Boş</span>
        </h4>
    </div>
}
