@model NewProductViewModel
@{
    ViewBag.Title = "Yeni";

    var imageURL = "/Content/images/system/placeholder-image.png";
}

<h2>Yeni Ürün</h2>

<form id="createProduct">
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label>Kategori</label>
                <select class="form-control" name="CategoryID">
                    @foreach (var category in Model.AvailableCategories)
                    {
                        <option value="@category.ID">@category.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label>İsim</label>
                <input class="form-control" name="Name" />
            </div>
            <div class="form-group">
                <label>Açıklama</label>
                <input class="form-control" name="Description" />
            </div>
            <div class="form-group">
                <label>Fiyat</label>
                <input class="form-control" name="Price" />
            </div>
            <div class="form-group">
                <label>Resim</label>
                <input type="hidden" id="ImageURL" name="ImageURL" />
                <input class="form-control" id="imageUpload" name="Image" type="file" accept=".png, .jpg" />
            </div>
            <button id="saveBtn" type="button" class="btn btn-primary">Kaydet</button>
            <button id="cancelBtn" type="button" class="btn btn-primary">İptal</button>
        </div>
        <div class="col-md-4">
            <div class="thumb">
                <img class="img-thumbnail img-fluid" id="productImage" src="@imageURL" />
            </div>
        </div>
    </div>
</form>


<script>

    $('#createProduct').validate({
        rules: {
            Name: {
                required: true,
                minlength: 5,
                maxlength: 50,
            },
            Description: {
                maxlength: 500
            },
            Price: {
                range: [1, 100000]
            }
        },
        messages: {
            Name: {
                required: 'Boş Bırakılamaz.',
                minlength: 'En az 5 Karakter',
                maxlength: 'En çok 50 Karakter'
            },
            Description: {
                maxlength: 'En çok 500 Karakter'
            },
            Price: {
                range: 'Fiyat Aralığı 1 - 100000.'
            }
        }
    });

    $("#imageUpload").change(function () {
        var element = this;

        var formData = new FormData();

        var totalFiles = element.files.length;

        for (var i = 0; i < totalFiles; i++) {
            var file = element.files[i];
            formData.append("Photo", file);
        }

    $.ajax({
			type: 'POST',
			url: '@Url.Action("UploadImage", "Shared")',
			dataType: 'json',
			data: formData,
			contentType: false,
			processData: false
		})
        .done(function (response) {
        	console.log(response);

        	if (response.Success) {
        		$("#ImageURL").val(response.ImageURL);
        		$("#productImage").attr("src", response.ImageURL);
        	}
        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
        	alert("FAIL");
        });
	});

    $("#saveBtn").click(function () {
		if ($("#createProduct").valid()) {
			$.ajax({
				type: 'POST',
				url: '@Url.Action("Create", "Product")',
				data: $("#createProduct").serialize()
			})
			.done(function (response) {
				$("#tableContiner").html(response);
				$("#actionContainer").html("");

				focusAction("tableContiner");
			})
			.fail(function (XMLHttpRequest, textStatus, errorThrown) {
				alert("FAIL");
			});
		}
		else {
			swal({
				title: "Uyarı",
				text: "Bütün Alanları Doldurunuz.",
				icon: "warning",
				buttons: true,
				dangerMode: true,
			});
		}
	});

    $("#cancelBtn").click(function () {
        $("#actionContainer").html("");
        focusAction("tableContiner");
    });
</script>
