@model ProductViewModel


@if (Model != null && Model.Product != null)
{
    var defaultImageURL = "/Content/images/system/placeholder-image.png";

    var imageURL = string.IsNullOrEmpty(Model.Product.ImageURL) ? defaultImageURL : Model.Product.ImageURL;
    <!-- Page title -->
    <div class="page-title parallax parallax1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-title-heading">
                        <h1 class="title">
                            @Model.Product.Name
                        </h1>
                    </div><!-- /.page-title-heading -->
                </div><!-- /.col-md-12 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.page-title -->

    <section class="flat-row main-shop shop-detail">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="wrap-flexslider">
                        <div class="inner">
                            <div class="flexslider style-1 has-relative">
                                <ul class="slides">
                                    <li data-thumb="@imageURL">
                                        <img src="@imageURL" alt="Image">
                                        <div class="flat-icon style-1">
                                            <a href="@imageURL" class="zoom-popup"><span class="fa fa-search-plus"></span></a>
                                        </div>
                                    </li>
                                    @*<li data-thumb="images/shop/sh-detail/thumb-detail-02.jpg">
                                            <img src="images/shop/sh-detail/detail-01.jpg" alt="Image">
                                            <div class="flat-icon style-1">
                                                <a href="images/shop/sh-detail/detail-01.jpg" class="zoom-popup"><span class="fa fa-search-plus"></span></a>
                                            </div>
                                        </li>
                                        <li data-thumb="images/shop/sh-detail/thumb-detail-03.jpg">
                                            <img src="images/shop/sh-detail/detail-01.jpg" alt="Image">
                                            <div class="flat-icon style-1">
                                                <a href="images/shop/sh-detail/detail-01.jpg" class="zoom-popup"><span class="fa fa-search-plus"></span></a>
                                            </div>
                                        </li>
                                        <li data-thumb="images/shop/sh-detail/thumb-detail-04.jpg">
                                            <img src="images/shop/sh-detail/detail-01.jpg" alt="Image">
                                            <div class="flat-icon style-1">
                                                <a href="images/shop/sh-detail/detail-01.jpg" class="zoom-popup"><span class="fa fa-search-plus"></span></a>
                                            </div>
                                        </li>*@
                                </ul>
                            </div><!-- /.flexslider -->
                        </div>
                    </div>
                </div><!-- /.col-md-6 -->

                <div class="col-md-6">
                    <div class="product-detail">
                        <div class="inner">
                            <div class="content-detail">
                                <h2 class="product-title">
                                    @Model.Product.Name
                                </h2>
                                @*<div class="flat-star style-1">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                        <i class="fa fa-star-half-o"></i>
                                        <span>(1)</span>
                                    </div>*@
                                <p>
                                    @Model.Product.Description
                                </p>
                                <div class="price">
                                    <ins>
                                        <span class="amount">
                                            ₺ @Model.Product.Price .00
                                        </span>
                                    </ins>
                                </div>
                                <div class="product-quantity">
                                    <div class="quantity">
                                        <input type="text" value="1" name="quantity-number" class="quantity-number">
                                        <span class="inc quantity-button">+</span>
                                        <span class="dec quantity-button">-</span>
                                    </div>
                                    <div class="add-to-cart text-center">
                                        <a class="productAddToCart" data-id="@Model.Product.ID">Sepete Ekle</a>
                                    </div>
                                    <div class="box-like">
                                        <a href="#" class="like"><i class="fa fa-heart-o"></i></a>
                                    </div>
                                </div>
                                <div class="product-categories">
                                    <span>Kategori: </span><a href="#">@Model.Product.Category.Name</a>
                                </div>
                                
                            </div>
                        </div>
                    </div><!-- /.product-detail -->
                </div>
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section><!-- /.flat-row -->

    <section class="flat-row shop-detail-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="flat-tabs style-1 has-border">
                        <div class="inner">
                            <ul class="menu-tab">
                                <li class="active">Yorumlar</li>
                            </ul>
                            <div class="content-tab">
                                <div class="content-inner">
                                    <div class="inner max-width-83 padding-top-33">
                                        <ol class="review-list">
                                            <li class="review">
                                                <div class="thumb">
                                                    <img src="~/Content/images/woman.png" alt="Image">
                                                </div>
                                                <div class="text-wrap">
                                                    <div class="review-meta">
                                                        <h5 class="name">Eda Sever</h5>
                                                        <div class="flat-star style-1">
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star-half-o"></i>
                                                        </div>
                                                    </div>
                                                    <div class="review-text">
                                                        <p>Aldığımız ürün için gerçekten çok güzel ve ustalıkla yapılmış çok teşekkür etmek istedim. Sizi tüm dostlarımıza tavsiye edeceğim.</p>
                                                    </div>
                                                </div>
                                            </li><!--  /.review    -->
                                            <li class="review">
                                                <div class="thumb">
                                                    <img src="~/Content/images/man.png" alt="Image">
                                                </div>
                                                <div class="text-wrap">
                                                    <div class="review-meta">
                                                        <h5 class="name">Mehmet Kadir Kuzucu</h5>
                                                        <div class="flat-star style-1">
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star-half-o"></i>
                                                        </div>
                                                    </div>
                                                    <div class="review-text">
                                                        <p class="line-height-28">Müşteri hizmetleri bizim için satın alma deneyiminin çok önemli bir parçasıdır ve yardımcı programların etkileyici olduğunu bulduğumuzu söylemeliyiz - kesinlikle gelecekte tekrar satın almaya bakacağız.</p>
                                                    </div>
                                                </div>
                                            </li><!--  /.review    -->
                                        </ol><!-- /.review-list -->
                                        <div class="comment-respond review-respond" id="respond">
                                            <div class="comment-reply-title margin-bottom-14">
                                                <h5>Yorum Yaz</h5>
                                                <p>E-posta hesabınız yayımlanmayacak. Gerekli alanlar işaretlendi *</p>
                                            </div>
                                            <form novalidate="" class="comment-form review-form" id="commentform" method="post" action="#">
                                                <p class="flat-star style-2">
                                                    <label>Puan*:</label>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </p>
                                                <p class="comment-form-comment">
                                                    <label>Yorum*</label>
                                                    <textarea class="" tabindex="4" name="comment" required> </textarea>
                                                </p>
                                                <p class="comment-name">
                                                    <label>İsim*</label>
                                                    <input type="text" aria-required="true" size="30" value="" name="name" id="name">
                                                </p>
                                                <p class="comment-email">
                                                    <label>E-posta*</label>
                                                    <input type="email" size="30" value="" name="email" id="email">
                                                </p>
                                                <p class="comment-form-notify clearfix">
                                                    <input type="checkbox" name="check-notify" id="check-notify"> <label for="check-notify">Beni yeni yazılarda e-posta ile bilgilendir.</label>
                                                </p>
                                                <p class="form-submit">
                                                    <button class="comment-submit">Onayla</button>
                                                </p>
                                            </form>
                                        </div><!-- /.comment-respond -->
                                    </div>
                                </div><!-- /.content-inner -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- /.shop-detail-content -->


    <section class="flat-row shop-related">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title-section margin-bottom-55">
                        <h2 class="title">İlgili Ürünler</h2>
                    </div>

                    @{Html.RenderAction("Products", "Widgets", new { isLatestProducts = false, CategoryID = Model.Product.Category.ID });}

                </div>
            </div><!-- /.row -->
        </div>
    </section>

}